Importar Librerías

In [1]:
import pandas as pd

## Pregunta 01: Cargar Archivo y Cantidad de Filas

In [2]:
#¿Cuál es la cantidad de filas en la tabla `tbl0.tsv`?

In [3]:
def cargar_BD (nombre_archivos):
    datos = pd.read_csv(nombre_archivos, sep="\t")
    return datos

tbl_0 = cargar_BD("../files/input/tbl0.tsv")
tbl_1 = cargar_BD("../files/input/tbl1.tsv")
tbl_2 = cargar_BD("../files/input/tbl2.tsv")

print("Datos Archivo tbl_0")
display(tbl_0)

print("Datos Archivo tbl_1")
display(tbl_1)

print("Datos Archivo tbl_2")
display(tbl_2)

Datos Archivo tbl_0

    c0 c1  c2          c3
0    0  E   1  1999-02-28
1    1  A   2  1999-10-28
2    2  B   5  1998-05-02
3    3  A   3  1999-08-28
4    4  C   6  1999-12-01
5    5  A   7  1998-07-28
6    6  A   9  1997-02-28
7    7  B   1  1999-05-10
8    8  E   2  1997-04-12
9    9  B   3  1999-11-23
10  10  C   7  1998-01-17
11  11  C   5  1998-12-28
12  12  D   3  1999-10-15
13  13  E   8  1998-11-01
14  14  B   9  1999-08-12
15  15  D   1  1997-12-01
16  16  E   3  1997-07-28
17  17  D   5  1998-08-12
18  18  E   8  1999-08-24
19  19  E   9  1998-01-23
20  20  E   7  1999-06-22
21  21  E   3  1999-04-24
22  22  D   5  1999-06-25
23  23  A   1  1999-08-25
24  24  E   4  1997-07-26
25  25  E   6  1997-09-24
26  26  A   8  1997-09-28
27  27  E   5  1999-06-22
28  28  A   6  1999-07-29
29  29  C   0  1999-08-22
30  30  A   1  1998-04-26
31  31  D   2  1998-02-24
32  32  E   5  1999-03-24
33  33  B   4  1998-03-23
34  34  B   6  1999-04-21
35  35  D   7  1999-02-29
36  36  B   8  1997-05-21
37  37  C   9  1997-07-22
38  38  E   1  1999-09-28
39  39  E   5  1998-01-26

Datos Archivo tbl_1

     c0 c4
0     0  b
1     0  g
2     0  f
3     1  a
4     1  f
..   .. ..
108  38  e
109  38  d
110  39  f
111  39  a
112  39  d

[113 rows x 2 columns]

Datos Archivo tbl_2

     c0  c5a  c5b
0     0  jjj    3
1     0  bbb    0
2     0  ddd    9
3     0  ggg    8
4     0  hhh    2
..   ..  ...  ...
170  38  iii    2
171  38  eee    0
172  39  hhh    8
173  39  ggg    3
174  39  jjj    5

[175 rows x 3 columns]

In [4]:
import pandas as pd
import os
#data = os.path.join(os.path.dirname(__file__), "../files/input/tbl0.tsv")
data = r"C:\Users\Olga\Documents\GitHub\2024-2-LAB-02-pandas-Paolabustos0510\files\input\tbl0.tsv"
tbl_0 =pd.read_csv(data, sep="\t")

def pregunta_01():
    cantidad_filas_tbl_0 = tbl_0.shape[0]
    return (cantidad_filas_tbl_0)
print(pregunta_01())

40

In [5]:
def pregunta_01(tbl_0):
    cantidad_filas_tbl_0 = tbl_0.shape[0]
    return (cantidad_filas_tbl_0)
resultado = pregunta_01(tbl_0)
print(resultado)

40

## Pregunta 02: Cantidad Columnas

In [6]:
#¿Cuál es la cantidad de columnas en la tabla `tbl0.tsv`?

In [7]:
def pregunta_02(tbl_0):
    cantidad_columnas_tbl_0 = tbl_0.shape[1]
    return (cantidad_columnas_tbl_0)
resultado = pregunta_02(tbl_0)
print(resultado)

4

## Pregunta 03

In [8]:
#¿Cuál es la cantidad de registros por cada letra de la columna `c1` del
#archivo `tbl0.tsv`?.

In [9]:
def pregunta_03(tbl_0):
    cantidad_registros_letra = ((tbl_0['c1'].value_counts().sort_index()))
    return (cantidad_registros_letra)
resultado = pregunta_03(tbl_0)
print(resultado)

c1
A     8
B     7
C     5
D     6
E    14
Name: count, dtype: int64

## Pregunta 04

In [10]:
#Calcule el promedio de `c2` por cada letra de la `c1` del archivo
#`tbl0.tsv`.

In [11]:
def pregunta_04(tbl_0):
    promedio_c2 = tbl_0.groupby('c1')['c2'].mean()
    return (promedio_c2)
resultado = pregunta_04(tbl_0)
print(resultado)

c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: c2, dtype: float64

## Pregunta 05

In [12]:
#Calcule el valor máximo de `c2` por cada letra en la columna `c1` del
#archivo `tbl0.tsv`.

In [13]:
def pregunta_05(tbl_0):
   valor_maximo_c2 = tbl_0.groupby('c1')['c2'].max()
   return (valor_maximo_c2)
resultado = pregunta_05(tbl_0)
print(resultado)

c1
A    9
B    9
C    9
D    7
E    9
Name: c2, dtype: int64

# Pregunta 06

In [14]:
#Retorne una lista con los valores unicos de la columna `c4` del archivo
#`tbl1.csv` en mayusculas y ordenados alfabéticamente.

In [15]:
def pregunta_06(tbl_1):
    valores_unicos = sorted(tbl_1['c4'].unique())
    valores_mayusculas = [valor.upper() for valor in valores_unicos]
    return (valores_mayusculas)
resultado = pregunta_06(tbl_1)
print(resultado)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

## Pregunta 07

In [16]:
#Calcule la suma de la `c2` por cada letra de la `c1` del archivo
#`tbl0.tsv`.

In [17]:
def pregunta_07(tbl_0):
    suma_c2 = tbl_0.groupby('c1')['c2'].sum()
    return (suma_c2)
resultado = pregunta_07(tbl_0)
print(resultado)

c1
A    37
B    36
C    27
D    23
E    67
Name: c2, dtype: int64

# Pregunta 08

In [18]:
#Agregue una columna llamada `suma` con la suma de `c0` y `c2` al
#data frame que contiene el archivo `tbl0.tsv`.

In [19]:
def pregunta_08(tbl_0):
   tbl_0['suma'] = tbl_0['c0'] + tbl_0['c2']
   return (tbl_0)
resultado = pregunta_08(tbl_0)
print(resultado)

    c0 c1  c2          c3  suma
0    0  E   1  1999-02-28     1
1    1  A   2  1999-10-28     3
2    2  B   5  1998-05-02     7
3    3  A   3  1999-08-28     6
4    4  C   6  1999-12-01    10
5    5  A   7  1998-07-28    12
6    6  A   9  1997-02-28    15
7    7  B   1  1999-05-10     8
8    8  E   2  1997-04-12    10
9    9  B   3  1999-11-23    12
10  10  C   7  1998-01-17    17
11  11  C   5  1998-12-28    16
12  12  D   3  1999-10-15    15
13  13  E   8  1998-11-01    21
14  14  B   9  1999-08-12    23
15  15  D   1  1997-12-01    16
16  16  E   3  1997-07-28    19
17  17  D   5  1998-08-12    22
18  18  E   8  1999-08-24    26
19  19  E   9  1998-01-23    28
20  20  E   7  1999-06-22    27
21  21  E   3  1999-04-24    24
22  22  D   5  1999-06-25    27
23  23  A   1  1999-08-25    24
24  24  E   4  1997-07-26    28
25  25  E   6  1997-09-24    31
26  26  A   8  1997-09-28    34
27  27  E   5  1999-06-22    32
28  28  A   6  1999-07-29    34
29  29  C   0  1999-08-22    29
30  30  A   1  1998-04-26    31
31  31  D   2  1998-02-24    33
32  32  E   5  1999-03-24    37
33  33  B   4  1998-03-23    37
34  34  B   6  1999-04-21    40
35  35  D   7  1999-02-29    42
36  36  B   8  1997-05-21    44
37  37  C   9  1997-07-22    46
38  38  E   1  1999-09-28    39
39  39  E   5  1998-01-26    44

# Pregunta 09

In [20]:
#Agregue el año como una columna al dataframe que contiene el archivo
#`tbl0.tsv`..

In [21]:
def pregunta_09(tbl_0):
    tbl_0['year'] = tbl_0['c3'].str[:4]
    return (tbl_0)
resultado = pregunta_09(tbl_0)
print(resultado)

    c0 c1  c2          c3  suma  year
0    0  E   1  1999-02-28     1  1999
1    1  A   2  1999-10-28     3  1999
2    2  B   5  1998-05-02     7  1998
3    3  A   3  1999-08-28     6  1999
4    4  C   6  1999-12-01    10  1999
5    5  A   7  1998-07-28    12  1998
6    6  A   9  1997-02-28    15  1997
7    7  B   1  1999-05-10     8  1999
8    8  E   2  1997-04-12    10  1997
9    9  B   3  1999-11-23    12  1999
10  10  C   7  1998-01-17    17  1998
11  11  C   5  1998-12-28    16  1998
12  12  D   3  1999-10-15    15  1999
13  13  E   8  1998-11-01    21  1998
14  14  B   9  1999-08-12    23  1999
15  15  D   1  1997-12-01    16  1997
16  16  E   3  1997-07-28    19  1997
17  17  D   5  1998-08-12    22  1998
18  18  E   8  1999-08-24    26  1999
19  19  E   9  1998-01-23    28  1998
20  20  E   7  1999-06-22    27  1999
21  21  E   3  1999-04-24    24  1999
22  22  D   5  1999-06-25    27  1999
23  23  A   1  1999-08-25    24  1999
24  24  E   4  1997-07-26    28  1997
25  25  E   6  1997-09-24    31  1997
26  26  A   8  1997-09-28    34  1997
27  27  E   5  1999-06-22    32  1999
28  28  A   6  1999-07-29    34  1999
29  29  C   0  1999-08-22    29  1999
30  30  A   1  1998-04-26    31  1998
31  31  D   2  1998-02-24    33  1998
32  32  E   5  1999-03-24    37  1999
33  33  B   4  1998-03-23    37  1998
34  34  B   6  1999-04-21    40  1999
35  35  D   7  1999-02-29    42  1999
36  36  B   8  1997-05-21    44  1997
37  37  C   9  1997-07-22    46  1997
38  38  E   1  1999-09-28    39  1999
39  39  E   5  1998-01-26    44  1998

# Pregunta 10

In [22]:
#Construya una tabla que contenga `c1` y una lista separada por ':' de los
#valores de la columna `c2` para el archivo `tbl0.tsv`.

In [23]:
def pregunta_10(tbl_0):
    result = tbl_0.groupby('c1')['c2'].apply(lambda x: ":".join(map(str,sorted(map(int,x))))).reset_index()
    return (result)
resultado = pregunta_10(tbl_0)
print(resultado)

  c1                           c2
0  A              1:1:2:3:6:7:8:9
1  B                1:3:4:5:6:8:9
2  C                    0:5:6:7:9
3  D                  1:2:3:5:5:7
4  E  1:1:2:3:3:4:5:5:5:6:7:8:8:9

# Pregunta 11

In [24]:
#Construya una tabla que contenga `c0` y una lista separada por ',' de
#los valores de la columna `c4` del archivo `tbl1.tsv`.

In [25]:
def pregunta_11(tbl_1):
    tabla = tbl_1.groupby('c0')['c4'].apply(lambda x: ",".join(sorted(x))).reset_index()
    return (tabla)
resultado = pregunta_11(tbl_1)
print(resultado)

    c0       c4
0    0    b,f,g
1    1    a,c,f
2    2  a,c,e,f
3    3      a,b
4    4  a,d,f,g
5    5      c,d
6    6    a,d,g
7    7      a,b
8    8  a,d,e,f
9    9  b,d,f,g
10  10  b,c,d,f
11  11  a,c,d,e
12  12  b,e,f,g
13  13      c,f
14  14      b,d
15  15      e,f
16  16    b,e,f
17  17      a,g
18  18  a,c,e,f
19  19      a,e
20  20      e,f
21  21    b,c,g
22  22    a,c,f
23  23    a,d,f
24  24      c,d
25  25    c,d,e
26  26    a,e,f
27  27    a,c,g
28  28      e,f
29  29  a,c,f,g
30  30      b,f
31  31      b,f
32  32      a,c
33  33    b,c,f
34  34    a,e,f
35  35      a,f
36  36      a,c
37  37  a,c,e,f
38  38      d,e
39  39    a,d,f

# Pregunta 12

In [26]:
#Construya una tabla que contenga `c0` y una lista separada por ','
#de los valores de la columna `c5a`  y `c5b` (unidos por ':') de la
#tabla `tbl2.tsv`.

In [27]:
def pregunta_12(tbl_2):
    tbl_2['c5'] = tbl_2['c5a'] + ':' + tbl_2['c5b'].astype(str).sort_index()
    tabla = tbl_2.groupby('c0')['c5'].apply(lambda x: ",".join(sorted(x))).reset_index()
    return ( tabla)
resultado = pregunta_12(tbl_2)
print(resultado)

    c0                                   c5
0    0        bbb:0,ddd:9,ggg:8,hhh:2,jjj:3
1    1              aaa:3,ccc:2,ddd:0,hhh:9
2    2              ccc:6,ddd:2,ggg:5,jjj:1
3    3              bbb:1,eee:7,hhh:9,iii:5
4    4              ddd:5,eee:4,iii:6,jjj:3
5    5        aaa:7,bbb:2,ccc:4,fff:1,hhh:0
6    6  aaa:5,ccc:1,ddd:2,fff:8,iii:0,jjj:7
7    7                    ddd:2,fff:3,hhh:1
8    8  bbb:0,ccc:5,eee:4,fff:7,ggg:6,iii:9
9    9  bbb:7,eee:3,fff:5,ggg:2,iii:4,jjj:9
10  10        eee:4,fff:2,hhh:6,iii:0,jjj:1
11  11                    bbb:7,ggg:9,iii:6
12  12        aaa:3,bbb:9,ccc:6,eee:2,fff:4
13  13                    aaa:8,ddd:5,jjj:1
14  14        aaa:2,ccc:0,ddd:3,fff:7,jjj:6
15  15              bbb:9,ccc:0,ddd:3,eee:6
16  16  bbb:6,ddd:2,fff:4,ggg:9,hhh:5,iii:3
17  17                    ccc:9,hhh:4,jjj:5
18  18                    ccc:1,fff:9,iii:6
19  19                    aaa:3,bbb:9,fff:1
20  20                    aaa:4,ddd:9,iii:2
21  21                    ccc:5,fff:8,iii:7
22  22                    ddd:7,eee:3,jjj:2
23  23        bbb:3,ccc:7,ddd:9,ggg:0,jjj:1
24  24  aaa:1,ccc:0,ggg:8,hhh:9,iii:7,jjj:6
25  25  bbb:7,ccc:1,ddd:0,eee:6,fff:3,iii:4
26  26                    ccc:4,ddd:5,fff:0
27  27        ccc:0,ddd:9,ggg:6,hhh:3,jjj:7
28  28        ccc:3,eee:5,hhh:6,iii:7,jjj:0
29  29  aaa:2,ccc:7,ddd:6,eee:1,fff:4,ggg:0
30  30        aaa:9,bbb:3,ccc:6,ddd:0,eee:5
31  31  aaa:6,bbb:7,ddd:5,fff:9,hhh:1,iii:4
32  32              ccc:1,eee:5,fff:3,ggg:2
33  33  ccc:1,ddd:0,ggg:3,hhh:5,iii:7,jjj:8
34  34        bbb:8,ccc:3,ddd:7,hhh:6,jjj:0
35  35                    aaa:0,ddd:3,fff:5
36  36        bbb:4,ccc:0,ddd:5,iii:7,jjj:2
37  37                    eee:0,fff:2,hhh:6
38  38                    eee:0,fff:9,iii:2
39  39                    ggg:3,hhh:8,jjj:5

Pregunta 13

In [28]:
    #Si la columna `c0` es la clave en los archivos `tbl0.tsv` y `tbl2.tsv`,
    #compute la suma de `tbl2.c5b` por cada valor en `tbl0.c1`.

In [29]:
def pregunta_13(tbl_0):
    merged = tbl_0.merge(tbl_2, on= 'c0')
    result = merged.groupby('c1')['c5b'].sum()
    return (result)
resultado = pregunta_13(tbl_0)
print(resultado)

c1
A    146
B    134
C     81
D    112
E    275
Name: c5b, dtype: int64